$gradient: linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));

$text_gray: hsl(0, 0%, 57%);
$text_light: hsl(0, 0%, 88%);
$text_dark: hsl(235, 21%, 11%);

// light Theme
$bg_primary_light: hsl(0, 0%, 93%);
$bg_secondary_light: hsl(0, 0%, 88%);
$text_primary_dark: hsl(235, 24%, 19%);
$text_secondary_dark: hsl(235, 21%, 11%);

// dark Theme
$bg_primary_dark: hsl(235, 24%, 19%);
$bg_secondary_dark: hsl(235, 21%, 11%);
$text_primary_light: hsl(0, 0%, 93%);
$text_secondary_light: hsl(0, 0%, 88%);